<!DOCTYPE html>
<html>
  <head>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap"
    >
    <style>
      /* Styles for the header */
      header {
        display: flex;
        justify-content: center; /* Horizontally center the content */
        align-items: center;     /* Vertically center the content */
        height: 60px;            /* Set a fixed height for the header */
        /*background-color: #f4f4f4; /* Light gray background for visibility */
      }

      header a {
        margin: 0 10px; /* Space out the links a bit */
        text-decoration: none; /* Remove the default underline */
        color: #333; /* Dark gray color for the text */
        font-weight: 700; /* Bold font weight */
      }

      header a:hover {
        text-decoration: underline; /* Add an underline on hover */
      }
    </style>
  </head>

  <body>
    <!-- Start of the header section -->
    <header>
      <a href="/matches">Partidos 칰ltimo torneo</a>
      |
      <a href="/positions/last">칔ltimo Partido</a>
      |
      <a href="/historical">Hist칩rico</a>
    </header>
    <!-- End of the header section -->
    <% if @positions %>
      <div class="table-container">
        <table>
          <thead>
            <!-- Title row -->
            <tr>
              <th colspan="7" class="title-cell">游끥
                <%= @tournament.name.capitalize %>
                游끥</th>
            </tr>
            <tr>
              <th>Jugador</th>
              <th>Ratio</th>
              <th>Puntos totales</th>
              <th>Partidas ganadas</th>
              <th>Partidas totales</th>
              <th>Historial</th>
              <th>Compite?</th>
            </tr>
          </thead>
          <tbody>
            <% @positions.each_with_index do |player, index| %>
              <% bold_class = index == 0 ? "bold-row" : "" %>
              <% bg_class = player[:eligible_for_tournament] == 1 ? "" : "no-competition-bg" %>
              <tr class="<%= "#{bold_class} #{bg_class}".strip %>">
                <td><%= player[:name].capitalize %></td>
                <td><%= player[:ratio]&.round(3) %></td>
                <td><%= player[:total_points] %></td>
                <td><%= player[:matches_won] %></td>
                <td><%= player[:total_matches] %></td>
                <td>
                  <% match_history = player[:match_history] %>
                  <% match_history.each do |ma| %>
                    <% if ma %>
                      <% if player[:name] == ma.winner[:name] %>
                        <div class="history-box won"></div>
                      <% else %>
                        <div class="history-box lost"></div>
                      <% end %>
                    <% else %>
                      _
                    <% end %>
                  <% end %>
                </td>
                <td><%= player[:eligible_for_tournament] == 1 ? "游녨" : "游녩" %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="7" class="description-cell">
                <p>Se computan puntos ganados sobre partidos jugados. Sumandose
                  2 puntos al ganador de la partida. Para que sea v치lida la
                  participaci칩n de un jugador en b칰squeda del t칤tulo tiene que
                  haber jugado al menos la mitad de catanes del jugador con m치s
                  presencias. Solo son v치lidos los catanes de 4,5 o 6
                  jugadores. La 칰ltima fecha del torneo puede ser como m치ximo
                  antes del cambio de estaci칩n. Los catanes viajeros no
                  computan. El premio est치 a definirse. En caso de igualdad de
                  porcentaje, gana el torneo el que mas catanes ganados tenga.</p>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    <% else %>
      <p>No players found.</p>
    <% end %>
  </body>
</html>
