<!DOCTYPE html>
<html>
  <head>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap"
    >
  </head>

  <body>

    <% if @positions %>
      <div class="table-container">
        <table>
          <thead>
            <!-- Title row -->
            <tr>
              <th colspan="7" class="title-cell">🏆
                <%= @tournament.name.capitalize %> 
                🏆</th>
            </tr>
            <tr>
              <th>Jugador</th>
              <th>Ratio</th>
              <th>Puntos totales</th>
              <th>Partidas ganadas</th>
              <th>Partidas totales</th>
              <th>Historial</th>
              <th>Compite?</th>
            </tr>
          </thead>
          <tbody>
            <% @positions.each_with_index do |player, index| %>
              <% bold_class = index == 0 ? "bold-row" : "" %>
              <% bg_class = player[:eligible_for_tournament] ? "" : "no-competition-bg" %>
              <tr class="<%= "#{bold_class} #{bg_class}".strip %>">
                <td><%= player[:name].capitalize %></td>
                <td><%= player[:ratio]&.round(3) %></td>
                <td><%= player[:total_points] %></td>
                <td><%= player[:matches_won] %></td>
                <td><%= player[:total_matches] %></td>
                <td>
                  <% match_history = player[:match_history] %>
                  <% match_history.each do |ma| %>
                    <% if ma %>
                      <% if player[:name] == ma.winner[:name] %>
                        <div class="history-box won"></div>
                      <% else %>
                        <div class="history-box lost"></div>
                      <% end %>
                    <% else %>
                      _
                    <% end %>
                  <% end %>
                </td>
                <td><%= player[:eligible_for_tournament] ? "👍" : "👎" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No players found.</p>
    <% end %>
  </body>
</html>
