<!-- app/views/positions/index.html.erb -->
<style>
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 70px 0;
  background-image: url('<%= asset_path("header.jpg") %>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

  .table-container {
    margin: 0 auto; /* Center the table on the screen */
    max-width: 800px; /* Set a maximum width for the table */
position: relative; /* Set the table container to relative positioning */
  z-index: 1; /* Set the z-index to make the table appear on top of the background */
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  /* Style for the rows where "Compite?" is "Sí" */
  tr.bold-row td {
    font-weight: bold;
  }
  /* Style for the rows where "Compite?" is "No" */
  tr.no-competition-bg td {
    background-color: #f2f2f2; /* Light gray background color */
  }
  /* Style for table rows (header and data rows) */
  tr {
    height: 50px; /* Set the row height to 40 pixels */
  }
  /* Styles for the color boxes */
  .history-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
  }

  .history-box.won {
    background-color: green;
  }

  .history-box.lost {
    background-color: red;
  }

  /* Style for the title cell */
  th.title-cell {
    text-align: center;
    border-bottom: 1px solid #ddd; /* Add a 1px solid gray border at the bottom */
    padding-bottom: 8px; /* Add some spacing between the title and the column headers */
  }
</style>

<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap">
</head>

<body>
  
<% if @players %>
  <div class="table-container">
    <table>
      <thead>
<!-- Title row -->
        <tr>
          <th colspan="6" class="title-cell">🏆 Torneo de Invierno 🏆</th>
        </tr>
        <tr>
          <th>Jugador</th>
          <th>Partidas ganadas</th>
          <th>Partidas totales</th>
          <th>Ratio</th>
          <th>Historial</th>
          <th>Compite?</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each_with_index do |player, index| %>
          <% bold_class = index == 0 ? 'bold-row' : '' %>
          <% bg_class = player[:eligible_for_tournament] ? '' : 'no-competition-bg' %>
          <tr class="<%= "#{bold_class} #{bg_class}".strip %>">
            <td><%= player[:name].capitalize %></td>
            <td><%= player[:matches_won] %></td>
            <td><%= player[:total_matches] %></td>
            <td><%= player[:ratio].round(2) %></td>
            <td>
              <% match_history = player[:match_history] %>
              <% match_history.each do |ma| %>
                <% if ma %>
                 <% if player[:name] == ma.winner[:name] %>
                    <div class="history-box won"></div>
                  <% else %>
                    <div class="history-box lost"></div>
                  <% end %>
                <% else %>
                  _
                <% end %>
              <% end %>
            </td>
            <td><%= player[:eligible_for_tournament] ? '👍' : '👎' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No players found.</p>
<% end %>
  </body>
</html>
